<div class="recipe-card">
  <div class="card-img">
    <i class="cake fa-solid fa-cake-candles fa-5x"></i>
  </div>
  <h2 class="recipe-name"><%= recipe.name %></h2>
  <h4>Ingredients:</h4>
  <div class="recipe-ingredients-box">
    <ul>
      <li>coding: <%= recipe.coding %></li>
      <li>mood: <%= recipe.mood %></li>
      <li>kindness: <%= recipe.kindness %></li>
      <li>fun: <%= recipe.fun %></li>
    </ul>
  </div>
  <h4>Instructions:</h4>
  <div class="recipe-instructions-box">
    <p><%= recipe.instructions %></p>
  </div>
  <h4>Decoration:</h4>
  <div class="recipe-instructions-box">
    <p>Decorate with: <%= recipe.stack %></p>
  </div>
</div>
